<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CBD</title>
    <link rel="stylesheet" href='/static/style.css' />

<body>
<div>
    <h1 class="center">Color Blindness Generator</h1>
<!--</div>-->
<!--  <form name="text" method="post" action="/ax">-->
<!--  </p>-->
<!--  <p class="center">введите цифры<Br>-->
<!--   <textarea  name="comment" cols="40" rows="3"></textarea></p>-->
<!--  <p class='center'><input type="submit" value="сгенерировать">-->
<!--   <input type="reset" value="Очистить"></p>-->

<form method="POST">

    <p class="center">введите цифры<Br>
    <input name="text">
<!--    <input type="submit" value="сгененировать">-->
    <p class='center'><input type="submit" value="сгенерировать">
</form>
</body>
</html>

 </form>

</body>
</html>
